body{
    font-family: 'Open Sans', Arial, sans-serif;
      line-height: 1.5;
      box-sizing:border-box;
  }
  #navbar{
    position: fixed;
      min-width: 290px;
      top: 0px;
      left: 0px;
      width: 325px;
      height: 100%;
      border-right: solid;
      border-color: rgba(0, 22, 22, 0.4);
  overflow-y: auto;
  height: 650px;   
  }
  
  nav > header{
  margin:0;
  margin-left:37px;
  margin-top:17px;
  border-bottom:solid 1px #4d4e53;
  padding-bottom:15px;
  
  }
  header{
    color:black;
    font-size:30px;
  }
  #main-doc{
    margin-left:350px;
     color: #4d4A53;
     margin-top:30px;
     margin-bottom:50px;
     position:absolute;
     
    
  }
  nav >ul >li >a{
    text-decoration:none;
    color: #4d4e53;
  }
  nav >ul >li{
    list-style:none;
    border-bottom:solid 1px #4d4e53;
    padding:10px 30px;
    
  }
  code{
    padding:15px;
    background-color:#f7f7f7;
    margin:15px;
  }
  
  @media(max-width: 768px){
    body{
      font-size:13px;
    }
    #main-doc{
      width:500px;
    }
    code{
      width:20%;
    }
  }